:root {
  --yellow: #f3f46e;
  --green: #008d00;
  --dark: #2c2c2c;
  --light: #e2e2e2;
}

body {
  font-family: 'Permanent Marker', cursive;
  color: var(--light);
  background-color: var(--dark);
}

h1 {
  font-size: 3rem;
}

.centered {
  display: flex;
  justify-content: center;
}