:root {
  --yellow: #f3f46e;
  --green: #008d00;
  --dark: #2c2c2c;
  --light: #e2e2e2;
}

body {
  font-family: 'Permanent Marker', cursive;
  color: var(--light);
  background-color: var(--dark);
}

h1 {
  font-size: 3rem;
}

#firstGuess,
#secondGuess,
#thirdGuess,
#fourthGuess,
#fifthGuess,
#sixthGuess {
  display: flex;
  margin: 3px;
  width: 100%;
}

#keyboard {
  display: flex;
  margin: 3rem 0;
  flex-wrap: wrap;
}

#row1,
#row2,
#row3 {
  width: 100%;
}

#row1,
#row2,
#row3,
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterKey,
.letterGuess {
  font-size: 1.5rem;
  margin: 3px;
  border: 1px solid var(--light);
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.letterCorrect {
  background-color: var(--yellow);
  color: var(--dark);
}

.newRow {
  margin-left: 1rem;
}

.positionCorrect {
  background-color: var(--green);
  color: var(--dark);
}

.ui-loader-header {
  display: none;
}